.git
.env
node_modules
vendor
storage/*.key
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
database/*.sqlite
public/build
public/storage
bootstrap/cache/*
